/*

FONTS:

font-family: 'Orbitron', sans-serif;
font-family: 'Lato', sans-serif;

*/

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
