/*

FONTS:

font-family: 'Orbitron', sans-serif;
font-family: 'Lato', sans-serif;

*/

html {
  box-sizing: border-box;
  background: #000;
  color: #fff;
  font-family: 'Lato', sans-serif;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

a {
  text-decoration: none;
  color: inherit;
}

.header {
  width: auto;
  height: 80px;
  position: relative;
  margin: 0 20px 40px 20px;
  border-bottom: 1px solid #fff;
  font-family: 'Orbitron', sans-serif;
}

.header > * {
  position: absolute;
  margin: 0;
  top: 50%;
}

.header img:first-child {
  left: 10px;
  transform: translate(0, -50%);
  height: 30px;
}

.header img:nth-child(2) {
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
}

.header a {
  right: 10px;
  font-size: 16px;
  letter-spacing: 2px;
  border: 1px solid #fff;
  padding: 20px;
  border-radius: 20px;
  transform: translate(0, -50%);
}

.header .buy-button p {
  margin: 0;
  position: relative;
  top: 1px;
}

.upper {
  margin-bottom: 40px;}

.upper-left {
  float: left;
  width: 70%;
  padding: 20px;
  border-right: 1px solid #fff;
}

.upper-left > img {
  max-width: 100%;
}

.upper-right {
  float: right;
  width: 30%;
  position: relative;
}

.upper-right table {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  border-collapse: collapse;
}

.upper-right th, .upper-right td {
  border-bottom: 1px solid #fff;
  padding: .7em;
}

.upper-right table tbody tr:last-child th, .upper-right table tbody tr:last-child td {
  border-bottom: none;
}

.upper-right th {
  text-align: left;
}

.upper-right td {
  text-align: right;
}

.lower {
  clear: both;
  width: auto;
  height: 100px;
  border-top: 1px solid #fff;
  margin: 40px 20px 0 20px;
}
