/*

FONTS:

font-family: 'Orbitron', sans-serif;
font-family: 'Lato', sans-serif;

*/

html {
  box-sizing: border-box;
  background: #000;
  color: #fff;
  font-family: 'Lato', sans-serif;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

a {
  text-decoration: none;
  color: inherit;
}

.header {
  width: 1400px;
  height: 80px;
  position: fixed;
  top: 0;
  margin: 0 20px 40px 20px;
  border-bottom: 1px solid #fff;
  font-family: 'Orbitron', sans-serif;
  background: #000;
  z-index: 10;
  box-shadow: 0 20px 30px 5px #000;
}

.header > * {
  position: absolute;
  margin: 0;
  top: 50%;
}

.header img:first-child {
  left: 10px;
  transform: translate(0, -50%);
  height: 30px;
}

.header img:nth-child(2) {
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
}

.header a {
  right: 10px;
  font-size: 16px;
  letter-spacing: 2px;
  border: 1px solid #fff;
  padding: 20px;
  border-radius: 20px;
  transform: translate(0, -50%);
}

.header a:hover {
  cursor: pointer;
}

.header .buy-button p {
  margin: 0;
  position: relative;
  top: 1px;
}

.main {
  position: relative;
  top: 80px;
  margin: 0 40px 40px 40px;
  height:
}

.upper {
  margin: 40px 0;
  padding-bottom: 40px;
  border-bottom: 1px solid #fff;
}

.upper-left {
  float: left;
  width: 70%;
  padding: 20px;
  border-right: 1px solid #fff;
  position: relative;
}

.upper-left img {
  max-width: 100%;
}

.upper-left:after {
  font-family: 'Permanent Marker', cursive;
  content: "Available Now!";
  display: inline-block;
  position: absolute;
  bottom: 20%;
  left: 10%;
  transform: rotate(-25deg);
  color: #FC001D;
  font-size: 40px;
}

.upper-right {
  float: right;
  width: 30%;
  position: relative;
}

.upper-right table {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  border-collapse: collapse;
}

.upper-right th, .upper-right td {
  border-bottom: 1px solid #fff;
  padding: .65em;
}

.upper-right table tbody tr:last-child th, .upper-right table tbody tr:last-child td {
  border-bottom: none;
}

.upper-right th {
  text-align: left;
}

.upper-right td {
  text-align: right;
}

.middle {
  margin: 0px 40px;
}

.lower {
  clear: both;
  width: auto;
  height: 300px;
  border-top: 1px solid #fff;
  padding-top: 20px;
  margin: 40px 20px 0 20px;
  text-align: center;
}

.lower img {
  width: 80%;
  height: auto;
}

.row {
  padding: 20px 0;
}

.row div {
  display: inline-block;
}

.row div:first-child {
  float: left;
}

.row div:last-child {
  float:right;
}

.footer {
  width: 1400px;
  position: fixed;
  bottom: 0;
  height: 24px;
  background: black;
  box-shadow: 0 -10px 30px 5px #000;
  font-family: 'Orbitron', sans-serif;
}

.footer img {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 20px;
}
